<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <link href='http://fonts.googleapis.com/css?family=Cabin:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
    </head>
    <body>

      <div id="header">
        <div class="center-block">
          <div id="nav">
            <a href="#" class="current">Home</a>
            <a href="#portfolio">Portfolio</a> 
          </div>
        </div>
      </div>

      <div id="home" class="page" style="height:600px">
        <div class="center-wrapper">
          <div class="center-block">

            <h1 class="title"><span class="strong">Hi,</span> I'm driven to build software that looks great.</h1>
            <div class="home-content">
            </div>

          <!--

          -->
          </div>
        </div>
      </div>

      <div id="portfolio" class="page" style="height:600px">  
        <div class="center-wrapper">
          <div class="center-block">
            <div class="grid-container row">
              <div class="grid-item" data-id="1">
                <a href="#">
                  <img src="/img/preview_gol.png" alt="">
                  <dl> 
                    <dt class="preview-title">Golem</dt> 
                    <dt class="preview-desc">Web</dt> 
                  </dl>
                </a>
              </div>
              <div class="grid-item" data-id="2">
                <a href="#">
                  <img src="/img/preview_kc.png" alt="">
                  <dl> 
                    <dt class="preview-title">KidsCerts</dt> 
                    <dt class="preview-desc">Web & Logo</dt> 
                  </dl>
                </a>
              </div>
              <div class="grid-item" data-id="3">
                <a href="#">
                  <img src="/img/preview_mm.png" alt="">
                  <dl>
                    <dt class="preview-title">Meditation Music</dt> 
                    <dt class="preview-desc">Web & Illustration</dt>
                  </dl>
                </a>
              </div>

              <div class="grid-item" data-id="4">
                <a href="#">
                  <img src="/img/preview_cap.png" alt="">
                  <dl>
                    <dt class="preview-title">Aprende.tv</dt> 
                    <dt class="preview-desc">Web & Illustration</dt>
                  </dl>
                </a>
              </div>

              <div class="grid-item" data-id="5">
                <a href="#">
                  <img src="/img/preview_un.jpg" alt="">
                  <dl>
                    <dt class="preview-title">Unlistr</dt> 
                    <dt class="preview-desc">Web & Illustration</dt>
                  </dl>
                </a>
              </div>

              <div class="grid-item" data-id="6">
                <a href="#">
                  <img src="/img/preview_ctv.png" alt="">
                  <dl>
                    <dt class="preview-title">Clasroom.tv</dt> 
                    <dt class="preview-desc">Web & Logo</dt>
                  </dl>
                </a>
              </div>

            </div>

            <div class="home-links">
              <table style="width:100%">
                <tr>
                  <td>
                    <div>
                    <span class="link-icon ico-github"></span>
                    <a href="https://github.com/nuterian">Github</a>
                    </div>
                  </td>
                  <td>
                    <span class="link-icon ico-linkedin"></span>
                    <a href="http://www.linkedin.com/pub/jugal-manjeshwar/9/714/3b1">LinkedIn</a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>    
      </div>

      <div id="showcase" class="overlay page" >
          <div class="center-wrapper">
            <div class="center-block">
              <div class="show-item" data-id="1">
                <div class="show-img"><img src="/img/golem.png" alt="">  </div>
              </div>

              <div class="show-item" data-id="2">
                <div class="show-img"><img src="/img/kc.png" alt="">  </div>
              </div>

              <div class="show-item" data-id="3">
                <div class="show-img"><img src="/img/mm1.png" alt="">  </div>
                <div class="show-img"><img src="/img/mm2.png" alt="">  </div>
              </div>

              <div class="show-item" data-id="4">
                <div class="show-img"><img src="/img/cap.png" alt="">  </div>
              </div>

              <div class="show-item" data-id="5">
                <div class="show-img"><img src="/img/un1.png" alt="">  </div>
                <div class="show-img"><img src="/img/un2.png" alt="">  </div>
              </div>

              <div class="show-item" data-id="6">
                <div class="show-img"><img src="/img/ctv1.png" alt="">  </div>
                <div class="show-img"><img src="/img/ctv2.png" alt="">  </div>
              </div>
            </div>
          </div> 
      </div>

      <script type="text/javascript" src="/js/main.js"></script>

    </body>
</html>
